*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-color: #222;
  --light-color: #ddd;

  --dark-text: #222;
  --light-text: white;

  --primary: #007bff;
  --primary-hover: #0056b3;
  --error: #d9534f;

  --bg: #f4f7f9;
  --light-bg: white;

  --shadow: rgba(0, 0, 0, 0.15);
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  color: var(--dark-text);
}

.card {
  background: var(--light-bg);
  padding: 25px;
  border-radius: 12px;
  border: 3px solid var(--dark-color);
  box-shadow: 3px 3px 0 var(--shadow);
  width: 100%;
  max-width: 450px;
}
.hidden {
  display: none !important;
}
.fullscreen {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  margin-top: 0;
}
input {
  font-size: 1rem;
  padding: 0.75rem;
  border: 1px solid var(--light-color);
  border-radius: 6px;
  box-sizing: border-box;
}
button {
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  font-size: 1rem;
  background: var(--dark-color);
  color: var(--light-text);
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-main {
  background: var(--primary);
  color: var(--light-text);
  margin-top: 1rem;
}
.btn-main:hover {
  background: var(--primary-hover);
}
.btn-link {
  background: none;
  color: var(--primary);
  text-decoration: underline;
  margin-top: 10px;
}

#counter-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;

  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
}

#counting-number {
  font-size: min(50vw, 50vh);
  justify-self: center;
  margin-top: -15vh;
}

#counter-actions {
  position: fixed;
  bottom: 0;
  padding: 0.5rem;
  width: min(100%, 414px);

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
#btn-plus, #btn-minus {
  flex: 1 0 calc(50% - (0.5rem / 2));
  height: 12vh;
  border-radius: 100vw;
}
#btn-plus svg, #btn-minus svg {
  width: 6vh;
  height: 6vh;
}
.options-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
input#final-number {
  width: 5rem;
}

.error {
  color: var(--error);
  background: var(--light-bg);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 13px;
  display: none;
}

/* ========== UI elements ========== */
/* The switcher */
.switcher-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--dark-color);
  gap: 2px;
  padding: 2px;
  border-radius: calc(0.25rem + 4px);
  background-color: var(--light-bg);
}
.switcher-btn {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 0.25rem;
  color: var(--light-color);

  display: flex;
  justify-content: center;
  align-items: center;
}
.switcher-btn svg,
button svg {
  width: 1rem;
  height: 1rem;
}
.switcher-btn input {
  display: none;
}

/* on/off state */
.switcher-btn:has(input:checked) {
	background-color: var(--dark-color);
  color: var(--light-text);
}